<%= modal({title: "Update your profile"}) do %>
  <%= modal_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= alert_error(resource.errors.full_messages, I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase)) %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, autocomplete: "nickname" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <p class="text-sm font-medium text-gray-500 mt-1">
        (leave blank if you don't want to change it)
      </p>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <p class="text-sm font-medium text-gray-500 mt-1">
        (use your current password to confirm your changes)
      </p>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
<% end %>
