<%# locals: (review:) -%>

<%= content_tag :div, class: "border-b border-gray-200 py-6", id: dom_id(review) do %>
  <div class="flex justify-between items-start">
    <div>
      <h3 class="text-lg font-semibold text-gray-800"><%= review.book.title %></h3>
      <div class="mt-1">
        <%= render_stars(review.rating) %>
      </div>
    </div>
    <%= link_to edit_profile_review_path(review), class: "text-gray-400 hover:text-blue-600 transition duration-150", data: { turbo_frame: "modal" } do %>
      <%= inline_svg_tag("pencil-square.svg", class: "w-5 h-5") %>
    <% end %>
  </div>
  <h4 class="text-md font-medium text-gray-700 mt-4"><%= review.title %></h4>
  <p class="text-gray-700"><%= review.description %></p>
  <%= link_to "View Book", book_path(review.book), class: "mt-2 inline-block text-sm text-blue-600 hover:text-blue-800 transition" %>
<% end %>
