<%# locals: (review:) -%>

<%= content_tag :div, class: "bg-gray-50 rounded-lg p-4 shadow-sm hover:shadow-md hover:bg-gray-100 transition duration-300", id: dom_id(review) do %>
  <div class="flex justify-between items-start">
    <div>
      <h3 class="text-lg font-medium text-gray-800"><%= review.book.title %></h3>
      <div class="mt-1">
        <%= render_stars(review.rating) %>
      </div>
    </div>
    <%= link_to edit_profile_review_path(review), class: "text-gray-400 hover:text-blue-600 transition duration-150", data: { turbo_frame: "modal" } do %>
      <%= inline_svg_tag("pencil-square.svg", class: "w-5 h-5") %>
    <% end %>
  </div>
  <h4 class="text-md font-medium text-gray-700 mt-2"><%= review.title %></h4>
  <p class="text-gray-600 mt-1"><%= review.description %></p>
  <%= link_to "View Book", book_path(review.book), class: "inline-block mt-3 text-sm text-blue-600 hover:text-blue-800 transition duration-150" %>
<% end %>
