<%# locals: (review:) -%>

<%= content_tag :div, class: "bg-white rounded-lg shadow p-6", id: dom_id(review) do %>
  <div class="flex justify-between items-start">
    <div class="space-y-1">
      <%= render_stars(review.rating) %>
      <h3 class="text-xl font-semibold text-gray-800"><%= review.title %></h3>
      <p class="text-sm text-gray-500">By <%= review.user.nickname %></p>
    </div>
    <% if user_is_creator?(review) %>
      <%= link_to edit_book_review_path(@book, review), class: "text-gray-400 hover:text-blue-600 transition duration-150", data: { turbo_frame: "modal" } do %>
        <%= inline_svg_tag("pencil-square.svg", class: "w-6 h-6") %>
      <% end %>
    <% end %>
  </div>
  <p class="text-gray-600 mt-4"><%= review.description %></p>

  <div class="flex items-center space-x-6 mt-4">
    <%= vote_button("like", review) %>
    <%= vote_button("dislike", review) %>
  </div>
<% end %>
