<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Book Reviews" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="fixed z-50 space-y-1 top-6 right-10">
      <div id="notification-tray" class="space-y-4">
        <%= render_flash_notifications %>
      </div>
    </div>

    <main class="bg-gradient-to-b from-gray-50 to-white">
      <%= render partial: "shared/header" %>
      <%= yield %>
    </main>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>
